---
import "@/styles/globals.css";
import "@fontsource-variable/jetbrains-mono";
import { SITE_TITLE, SITE_DESCRIPTION, TWITTER_ACCOUNT } from "@/lib/consts";

import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import ThemeHeadScript from "@/components/theme-head-script.astro";
import LocaleHtmlHead from "@/components/i18n/LocaleHtmlHead.astro";
import {
  useTranslations,
  LOCALES,
  getLocalePaths,
  type Lang,
} from "@/lib/i18n";

interface Props {
  title?: string;
  description?: string;
  frontmatter?: undefined;
  lang?: string;
}

const { title, description, lang } = Astro.props.frontmatter || Astro.props;

const locale = lang || (Astro.currentLocale as Lang);
const t = useTranslations(locale);
const localeTitle = title ? `${title} | ${t(SITE_TITLE)}` : t(SITE_TITLE);
const localeDescription = description || t(SITE_DESCRIPTION);
---

<html lang={LOCALES[locale]?.lang || locale} dir={LOCALES[locale]?.dir || null}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={localeDescription} />
    <title>{localeTitle}</title>

    <!-- {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }

    <meta property="og:type" content="website" />
    <meta property="og:title" content={localeTitle} />
    <meta property="og:site_name" content={localeTitle} />
    <meta property="og:description" content={localeDescription} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:locale" content={LOCALES[locale].lang || locale} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={t(TWITTER_ACCOUNT)} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="preload"
      as="style"
      fetchpriority="high"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800&display=swap"
      media="print"
      onload={`this.media='all'`}
    /> -->

    <!-- Scripts -->
    <LocaleHtmlHead />
    <ThemeHeadScript />
  </head>
  <body>
    <section class="mx-auto max-w-screen-md" id="base-section">
      <Header />

      <main class="min-h-[87vh] animate-fade px-6 pb-6">
        <slot />
      </main>

      <Footer />
    </section>
  </body>
</html>
